@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

body  {
    height: 100vh;
    background-image: url('login.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


html {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    background: white;
    height: 100vh;
    font-weight: 700;
    align-items: center;
}

.container{
    display: flex;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
}
.login-form {
    margin-top: 50px;
    height: 500px;
    width: 430px;
    padding: 0 35px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
input[type="email"],
input[type="password"]{
    border-radius: 5px;
}

.btn-login{
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
}

.link{
    text-decoration: none;
}
p{
    font-size: 12px;
    margin-top: 25px;
}
